#introduccion{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    }
    .items-centro {
        text-align: center;
        text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    }